<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        a.btn {
            border-radius: .25rem;
            border: 1px solid transparent;
            padding: .5rem 1rem;
            color: #fff;
            text-align: center;
            margin-left: 38em;
        }
        
        a.btn:hover {
            border-radius: .25rem;
        }
        
        table {
            text-align: center;
        }
    </style>
</head>

<body>



    <% if(registerList!=null) { %>
        <table class="table table-striped table-hover ">



            <tbody>
                <%registerList.forEach(register => {%>

                    <tr scope=>

                        <td>
                            <th>Name</th>
                        </td>

                        <td>
                            <strong>
                                <%=register.name %>
                                    </strong>
                        </td>
                    </tr>
                    <tr scope="row">
                        <td>
                            <th>email</th>
                        </td>
                        <td>
                            <%= register.email %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <th>dob</th>
                        </td>
                        <td>
                            <%= register.dob %>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <th>phoneno</th>
                        </td>
                        <td>
                            <%= register.phone %>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <th>degree</th>
                        </td>
                        <td>
                            <%= register.degree %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <th>designation</th>
                        </td>
                        <td>
                            <%= register.designation %>
                        </td>

                    </tr>
                    <%})%>
            </tbody>
        </table>
        <% } %>

            <div>
                <a href="/home" class="btn btn-primary">Back</a> </div>
</body>

</html>

</html>